//FONT
$font: 'Commissioner', sans-serif;
$firstFont: 400;
$secondFont: 500;
$thirdFont: 700;
$paragraphFontSize: 16px;
$buttonFontSize: 32px;
$buttonParagraphFontSize: 15px;
$aboutFontSize: 20px;
$aboutFontSizeMobile: 18px;
$standFontSize: 18px;
$standFontSizeMobile: 14px;
$linkFontSize: 13px;

//COLORS
$blackColor: #000000;
$whiteColor: #FFFFFF;
$background: #FAFAFA;
$paragraphGray: #7A7A7A;
$buttonBlue: #3CB3AB;
$buttonBlueHover: #147A73;
$buttonCircleBlack: #2F2F2F;
$buttonCircleInner: #B1B1B1;
$buttonBookmark: #979797;
$buttonBookmarkHover: #B1B1B1;
$borderSectionColor: rgb(246, 246, 246);
$colorSlider: rgb(244, 244, 244);
$colorPledgeBorder: rgb(219, 219, 219);
$underlineColor: rgb(160, 160, 160);
$linearGradientBackground: rgba(0, 0, 0, 0.5);
$borderColor: rgba(0, 0, 0, 0.0497193);

//OTHER 
$customCursor: url("../images/pointer.png"), pointer;
